{% extends 'base.html.twig' %}

{% block title %}Auto-Validating Form{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Auto-Validating Form
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Enter a bad email or leave the password empty, and see how the
                            form validates in real time!
                            <br>
                            This renders a normal Symfony form but with extras added on top,
                            all generated from Symfony & Twig.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 px-md-5 my-5">
            <div class="mb-5">
                <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
                    <twig:RegistrationForm />
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 px-md-5 my-5">
            <div class="mb-5 text-center">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Or use modal ?
                </button>
            </div>
        </div>
    </main>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registration</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <twig:RegistrationForm />
                </div>
            </div>
        </div>
    </div>
{% endblock %}