<turbo-frame id="modal">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {{ knp_pagination_render(clients, null, {}, {'size': 'small', 'align': 'center'}) }}
</turbo-frame>