{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Listing Categories
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Handle a classic CRUD with LiveComponent and EventListener
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 px-md-5 my-5">
            <twig:Button/>
            <twig:Counter/>
        </div>

        <div class="container-fluid pt-4 px-4 px-md-5 my-5">
            <div class="mb-5">
                <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <th>{{ category.id }}</th>
                                <th>{{ category.name }}</th>
                                <td style="width: 250px;">
                                    <a
                                            class="btn btn-secondary"
                                            type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#update-category-modal"
                                    >
                                        <twig:Icon name="edit-circle" class="me-2" />
                                    </a>
                                    <button class="btn btn-secondary">
                                        <twig:Icon name="trash" class="me-2" />
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    {% component BootstrapModal with {id: 'update-category-modal'} %}

        {% block modal_header %}
            <h5>Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endblock %}

        {% block modal_body %}
            <twig:CreateCategoryForm />
        {% endblock %}

    {% endcomponent %}
{% endblock %}