{% props size = '' %}

<div {{ attributes.defaults({
    'data-controller': 'modal',
    'class': 'modal fade',
    'tabindex': '-1',
    'aria-hidden': 'true',
    'data-action': 'turbo:before-cache@window->modal#close'
}) }}>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable {{ size }}">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-6 fw-normal" id="modal-title" data-modal-target="title">Chargement...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% if block('loading_content') %}
        <template data-modal-target="loadingContent">
            {% block loading_content %}{% endblock %}
        </template>
    {% endif %}
</div>