<div {{ attributes }}>
    <a href="{{ this.url }}"
       class="link-underline link-underline-opacity-0 link-light"
    >
        {% block content %}{% endblock %}
        <span class="ps-2">
            <twig:Core:Icon name="{{ this.icon }}" provider="mdi" />
        </span>
    </a>

</div>