{% extends 'base.html.twig' %}

{% block title %}Client Contact{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Client Contact
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Handle a classic CRUD with LiveComponent and EventListener
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {{ component('Core:Breadcrumbs', {
                items: [
                    {
                        'label': 'Dashboard',
                        'url': path('app_home')
                    },
                    {
                        'label': 'Client',
                        'url': path('app_client_index')
                    },
                    {
                        'text': 'Client Contact'
                    }
                ]
            }) }}
        </div>

        <div class="container-fluid px-4 px-md-5 py-3">
            <section class="background-glass p-4 rounded">
                {{ include('client_contact/_search_form.html.twig') }}
            </section>
        </div>

        <div class="container-fluid px-4 px-md-5 my-4">
            <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
                <turbo-frame
                        id="client-contact-list"
                        data-turbo-action="advance"
                        data-controller="listing"
                        data-action="turbo:before-fetch-request->listing#fetchLoading turbo:before-fetch-response->listing#fetchRender turbo:frame-load->listing#onRender"
                >
                    {{ include('client_contact/_list.html.twig') }}
                </turbo-frame>
            </div>
        </div>

    </main>
{% endblock %}