{% extends 'base.html.twig' %}

{% block title %}Classic Form{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Classic HTML Form
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Handle a classic html form
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 px-md-5 my-5">

            {% for key, messages in app.flashes() %}
                <twig:Alert message="Product created! Add another one!" type="{{ key }}" />
            {% endfor %}

            <div class="mb-5">
                <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
                    <twig:CreateProductForm routeName="app_product"/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}