<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="App">
            {% if is_granted('ROLE_USER') %}
                <twig:Menu />
            {% endif %}

            {% block body %}{% endblock %}

            <twig:Modal size="modal-lg">
                <turbo-frame
                        id="modal"
                        data-modal-target="dynamicContent"
                        data-action="turbo:before-fetch-request->modal#showLoading"
                ></turbo-frame>
                <twig:block name="loading_content">
                    <div class="d-flex justify-content-center m-3">
                        <div class="spinner"></div>
                    </div>
                </twig:block>
            </twig:Modal>

            <div id="flash-container" data-turbo-temporary class="position-fixed top-0 end-0 mt-4 me-4">
                {{ include('partial/_flashes.html.twig') }}
            </div>
        </div>
    </body>
</html>
