{% extends 'base.html.twig' %}

{% block title %}Hey 🎉{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Dashboard
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            work in progress
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}