{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Dashboard
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            work in progress
                        </p>
                    </div>
                    <twig:Dialog>
                        <twig:block name="trigger">
                            <button
                                    class="btn btn-sm btn-secondary"
                                    data-action="dialog#open"
                            >
                                delete
                            </button>
                        </twig:block>
                        <twig:block name="dialog_title">
                            <h1 class="modal-title fs-5">Hello world...</h1>
                        </twig:block>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper consectetur turpis, vel vehicula mauris pretium nec. Curabitur magna dolor, fringilla at erat nec, pharetra tincidunt sem. Nam feugiat risus odio, eu bibendum nunc vulputate nec. Etiam ut tincidunt sapien, nec aliquam felis. Morbi gravida ultrices dolor, et tempus nibh scelerisque ac. Fusce diam purus, volutpat non ornare in, convallis id ex. Maecenas ultrices, felis in egestas mattis, enim nisi vestibulum sem, vel congue dui odio eu tortor. Ut efficitur et arcu sed hendrerit. Integer consectetur urna in turpis dignissim, eu lobortis lectus ultrices.

                        Proin tristique sed tortor eget porttitor. Praesent ac purus dictum, pellentesque elit eget, dignissim mauris. Praesent pharetra semper pulvinar. Nulla ultricies felis at nisl eleifend, ut pretium ligula accumsan. Quisque enim mi, convallis eu tellus sit amet, varius dictum massa. Nunc at turpis ut orci iaculis finibus. Nullam posuere eros molestie cursus fringilla. Integer cursus nisl nec tortor iaculis, at iaculis nibh euismod. Vivamus in erat pulvinar dolor porta rutrum. Aenean dignissim ante ut ante euismod fermentum non ac lorem. Phasellus id urna nisi. Etiam velit eros, eleifend eget erat ac, ultrices commodo dui. In nec urna fermentum, sodales ex commodo, luctus metus. Phasellus a mauris nec ex imperdiet efficitur.

                        Morbi fermentum nec tellus non finibus. Ut in mauris eu ex vulputate sollicitudin vel a risus. Aliquam aliquet pretium magna. Sed tempor malesuada velit, et tempor ante. Proin tincidunt scelerisque nibh a facilisis. Ut euismod turpis sed tellus iaculis semper. Pellentesque eu odio non dolor fringilla eleifend. Quisque sagittis sapien vel ante molestie, id venenatis odio scelerisque. In pharetra, lorem sed fermentum mattis, tellus sapien congue nunc, a auctor dolor nibh ut velit. Integer laoreet pellentesque nisi, id dapibus nulla consectetur ac. Nulla diam orci, efficitur sit amet tristique sit amet, tincidunt sit amet augue. Nulla in pellentesque urna, et aliquet felis. Suspendisse congue placerat tortor vitae finibus. Morbi a dolor a nisl tristique accumsan.
                      </twig:Dialog>
                </div>
            </div>
        </div>
    </main>
{% endblock %}