{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Dashboard
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            work in progress
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h1>Report</h1>
        <div id="articles-list" data-controller="refresh">
            {% for report in reports %}
                <div id="article-{{ report.id }}">
                    <p>{{ report.id }} -- {{ report.reference }}</p>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_report_create', {'id': 4, 'reportType': 2}) }}"
           class="btn btn-secondary"
           data-turbo="false">
            Créer FCE
        </a>
    </main>
{% endblock %}