<tr>
    <td>{{ report.reference }}</td>
    <td>reviews->ReviewGroup->name</td>
    <td>-</td>
    <td>
        {% if report.validatedAt is not null %}
            {{ report.validatedAt | date('d/m/Y') }}
        {% else %}
            -
        {% endif %}
    </td>
    <td>-</td>
    <td>{{ report.createdBy.trigram }}</td>
    <td>-</td>
    <td>{{ report.reportStatus.name }}</td>
    <td>
        {% if report.draft == true %}
            <button class="btn btn-secondary">
                <twig:Core:Icon name="eye"/>
            </button>

            <button class="btn btn-secondary">
                <twig:Core:Icon name="trash"/>
            </button>
        {% endif %}
    </td>
</tr>