{% extends 'base.html.twig' %}

{% block title %}Affaires{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    {% block importmap %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Client Case
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Handle a classic CRUD with LiveComponent and EventListener
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {{ component('Core:Breadcrumbs', {
                items: [
                    {
                        'label': 'Dashboard',
                        'url': path('app_home')
                    },
                    {
                        'text': 'Affaires'
                    }
                ]
            }) }}
        </div>

        {{ component('ClientCase:ClientCaseSearch') }}
    </main>
{% endblock %}