<div{{ attributes }}>
    <div class="text-center mb-2">
        <button
                class="btn btn-secondary"
                data-action="live#action"
                data-live-action-param="onClick"
                data-live-id-param="2"
                data-bs-toggle="modal"
                data-bs-target="#update-category-modal"
        >
            Click me !
        </button>
    </div>
</div>