{% props size='' %}
<div {{ attributes.defaults({
    'data-controller': 'dialog',
    'data-action': 'turbo:before-cache@window->dialog#close'
}) }}>
    {% block trigger %}{% endblock %}
    <dialog
            class="border-0 bg-transparent {{ size }} p-0 dialog"
            data-dialog-target="dialog"
            data-action="click->dialog#clickOutside"
    >
        <div class="dialog-content m-auto rounded shadow p-0 bg-body overflow-auto">
            <div class="dialog-header d-flex align-items-center p-3">
                {% block dialog_title %}{% endblock %}
                <button
                        class="border-0 bg-transparent ms-auto rounded fs-3"
                        type="button"
                        data-action="click->dialog#close"
                        data-dialog-target="dialogClose"
                >
                    <twig:Icon name="x"/>
                </button>
            </div>
            <div class="dialog-body p-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </dialog>
    {% if block('loading_content') %}
        <template data-dialog-target="loadingContent">
            {% block loading_content %}{% endblock %}
        </template>
    {% endif %}
</div>