<div class="health-wrapper">
    <span class="summary-F fw-semibold">F</span>
    <span class="summary-S fw-semibold">S</span>
    <span class="summary-D fw-semibold">D</span>
    <span class="summary-PM fw-semibold">PM</span>
    <span class="summary-SO fw-semibold">SO</span>
    <span class="summary-HM fw-semibold">HM</span>
</div>