{% extends 'base.html.twig' %}

{% block title %}Livrable{% endblock %}

{% block body %}
<main>
    <div class="hero">
        <div class="container-fluid pt-4 px-4 px-md-5 my-5">
            <div class="text-center">
                <p class="eyebrows">DEMOS / Live Component</p>
                <h1 class="text-center">
                    Report
                </h1>
                <div class="intro mt-4">
                    <p>
                        Handle a classic CRUD with LiveComponent, AssetMapper, Stimulus and Turbo
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {{ component('Core:Breadcrumbs', {
            items: [
                {'label': 'Dashboard', 'url': path('app_home')},
                {'label': 'Affaires', 'url': path('app_client_case_index')},
                {'label': clientCase.reference, 'url': path('app_client_case_show', {'id': clientCase.id})},
                {'text': report.reference}
            ]
        }) }}
    </div>
</main>
{% endblock %}